
@import '../variables/variables';

.carousel-item img{
    max-height: 600px;
    width : 100%;
    filter: $filter-images-desktop;
}
@media screen and (min-width: 767px) {
    .carousel-item img{
        filter: $filter-images-mobile;
    }
   
}

@media screen and (max-width: 767px) {
    
    .only{
        margin-top: $margin-top-mobile;
    }
   
}

 .about img{
    width : $images-height;
}
.contact img{
    width : $images-height;
}

.about , .service , contact {
    padding : $sections-padding;
}

