<!DOCTYPE html>
<html>

<head>
    <!-- ... -->

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <!-- ... -->

    <nav class="navbar sticky-top  navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Dextel</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#about">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">Servicii</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid first">
        <div class="row">
            <div class="col">
                <div id="carouselId" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselId" data-slide-to="1"></li>
                        <li data-target="#carouselId" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active ">
                            <img id="phone3" alt="First slide">

                        </div>
                        <div class="carousel-item">
                            <img id="phone1" alt="Second slide">

                        </div>
                        <div class="carousel-item">
                            <img id="phone2" alt="Third slide">

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid about  d-flex flex-column justify-content-center" id="about">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="m-5">Despre noi</h2>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 mx-auto d-flex align-items-center">
                        <img id="aboutImage" alt="">
                    </div>
                    <div class="col-lg-6 col-md-8 mx-auto d-flex flex-column justify-content-center ">
                        <p class="text-center mt-2 d-none" id="a1">
                            NU SUNTEM SINGURI DAR SUNTEM SIGURI </p>

                        <p class="text-center mt-2" id="a3">
                            Firma S.C. DEXTEL S.R.L.situata,de 5 ani in aceeasi locate,adica ,in Oradea,Piata Ion Creanca Nr 3 vă oferă servicii profesionale în domeniul reparaţiilor telefoanelor mobile. Cu multi ani de experienţă în domeniu am ajuns să fim printre cele mai renumite service-uri din Oradea</p>
                        <p class="text-center mt-5" id="a4">
                            Profesioniştii noştri :un inginer electronist,cu experienta de 10 ani in GSM si un consultant cu experienta de 7 ani in domeniu, vă asigură calitatea serviciilor noaste care,includ:
                        </p>
                        <button class="btn btn-primary text-center" id="more">Sloganul nostru</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid service" id="service">
        <div class="row m-5">
            <div class="col">
                <h2 class="text-center">Servicii</h2>
            </div>
        </div>

        <div class="row d-flex align-items-center">

            {% for service in services %}
            <div class="col-sm-12 col-md-6 d-flex flex-row align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{service.title}}</h5>
                        <p class="card-text">{{service.description}}</p>
                        <button class="btn btn-primary">Special</button>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
    <div class="container contact" id="contact">
        <div class="row m-5">
            <div class="col">
                <h2 class="text-center">Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto d-flex flex-column justify-content-center">
                <img id="maps" alt="">

            </div>
            <div class="col-md-6 only text-center mx-auto d-flex flex-column justify-content-center">
                <ul class="list-group">
                    <li class="list-group-item active">Telefon</li>
                        {% for element in contact %}
                        <li class="list-group-item">{{ element.title}}</li>
                        {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% block javascripts %} {{ encore_entry_script_tags('app') }}
 {% endblock %}
</body>

</html>